rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /polls/{pollId} {
      allow read, write;
      match /participants/{participantId} {
        allow read, write;
      }
    }
  }
}