body {
  margin: 0;
  background-image: url(./images/background.jpg);
  background-size: auto 240vh;
  background-repeat: repeat;
  background-position: center top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
